.cart-item {
  padding: 5%;
  display: flex;
  flex-direction: row;
}

.cart-item-description {
  margin-left: 8px;
  align-self: center;
  flex: 1 0;
}

.cart-item-quantities {
  margin-top: 4px;
  float: right;
}

.cart-item-quantities > *,
.remove-cart-item > a {
  text-decoration: none;
  display: inline-block !important;
  font-size: 13px !important;
  font-weight: 300 !important;
  color: #757575 !important;
}

.cart-item-quantities > select {
  width: 20px !important;
  padding: 0px !important;
  margin-right: 8px !important;
}

#ram,
#quantity {
  width: min-content !important;
}

.checkout-total {
  text-align: right;
  font-weight: bold;
  margin-right: 5%;
}

.btn-checkout {
  width: 100%;
  padding: 20px;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #172c50;
}

.btn-checkout a {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  display: block;
}

@media screen and (min-width: 768px) {
  .cart-item {
    padding: 2% 5%;
  }

  .checkout-section {
    float: right;
    width: calc(270px + 10%);
  }

  .checkout-total {
    width: max-content;
    display: inline-block;
  }

  .btn-checkout {
    display: inline-block;
    width: max-content;
    box-sizing: border-box;
    position: static;
    border: 2px solid #000;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 44px;
    text-align: center;
  }

  .btn-checkout a {
    color: #202020 !important;
  }
}
