form {
  padding: 2% 5%;
}

form h2 {
  display: block;
  font-size: 13px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-weight: bold;
}

form h3 {
  display: block;
  font-size: 13px;
  font-weight: normal;
}

form input {
  font-size: 1em;
  font-weight: 300;
  color: #202020;
  border: none;
  border-bottom: 2px solid #d0d0d0;
  padding: 8px 0;
  margin: 20px 0;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row > * {
  flex: 1 0;
  margin-left: 16px;
}

.flex-row :first-child {
  margin-left: 0;
}

form select {
  width: 100%;
  padding: 8px 24px 8px 0;
  margin: 8px 0 20px;
  border: none;
  border-bottom: 2px solid #d0d0d0;
  background-color: transparent;
  border-radius: 0;
  font-size: 1em;
  font-weight: 300;
  color: #202020;
  overflow: hidden;
}

#diff-address {
  width: max-content;
  margin: 20px 0;
  padding: 0;
}

div > span {
  margin-left: 12px;
  font-size: 13px;
  align-self: center;
}

#billing-address {
  display: none;
}

#billing-address-div input:checked ~ #billing-address {
  display: block;
}

.bill-item {
  display: flex;
  margin: 20px 0;
}

.bill-item-name {
  display: inline;
  font: normal 13px "Roboto", "Noto", sans-serif;
}

.bill-item-price {
  display: inline;
  margin-left: auto;
  font: normal 13px "Roboto", "Noto", sans-serif;
}

.btn-order {
  width: 100%;
  padding: 20px;
  position: fixed;
  left: -5%;
  bottom: 0;
  text-align: center;
  background-color: #172c50;
}

.btn-order a {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.payment-section {
  padding-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .products-page-header {
    margin: 24px 0;
  }

  form {
    display: flex;
    flex-direction: row;
  }

  .info-section {
    width: auto;
    margin-right: 16px;
  }

  .btn-order {
    display: inline-block;
    width: max-content;
    box-sizing: border-box;
    position: static;
    border: 2px solid #000;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 44px;
    text-align: center;
  }

  .btn-order a {
    color: #202020 !important;
  }
}
