.img-div {
  padding-bottom: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.title-smartphones,
.title-tablets,
.title-pcs {
  margin-top: 1em;
  font: 500 1.3em/1.5em Helvetica;
}

#btn-smartphones,
#btn-tablets,
#btn-pcs {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

#btn-smartphones > p,
#btn-tablets > p,
#btn-pcs > p {
  margin: 8px auto;
  padding: 8px 44px;
  width: max-content;
  border: 2px solid #000000;
}

.flex-row {
  display: flex;
  flex-direction: row;
  column-gap: 1px;
}

.flex-row > * {
  margin: 0;
  flex: 1 0;
}
