* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Noto", sans-serif;
  color: #202020;
}

header {
  display: grid;
  columns: 3;
  padding: 16px;
}

#cart {
  grid-column: 3;
  grid-row: 1;
  padding: 12px;
  object-position: center;
  justify-self: end;
  align-self: center;
  background: transparent;
}

#title {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  margin: auto;
}

#title > a {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3em;
  text-decoration: none;
  text-transform: uppercase;
}

#nav {
  flex: 1 0;
  margin-left: 5%;
  align-self: center;
}

#nav-items a {
  display: block;
  width: 300%;
  text-decoration: none;
  padding: 16px 0;
  margin: 0 16px;
  font-size: 13px;
  font-weight: 500;
  color: #202020;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

#nav-items a:hover {
  color: #ffffff;
  background-color: #000000;
}

#nav label {
  grid-column: 1;
  grid-row: 1;
  display: inline-block;
  margin-top: 4%;
  font-style: normal;
  font-size: 1.2em;
  padding: 10px;
}

#nav-items {
  display: none;
}

#nav input:checked ~ #nav-items {
  display: block;
}

nav > input {
  visibility: hidden;
}

#phones,
#tablets,
#pcs {
  border-bottom: 2px solid #172c50 !important;
}

#img-smartphones > img,
#img-tablets > img,
#img-pcs > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
}

.products-page-header {
  text-align: center;
}

.products-page-header > h1,
.product-name {
  margin: 0 0 4px 0;
  font-size: 1.1em;
  font-weight: 500;
}

.products-page-header > span,
.product-price,
.product-description-price {
  color: #757575;
  font-size: 12px;
}

.products {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-list-item {
  width: 100%;
  justify-self: center;
  text-align: center;
  padding: 16px 0;
}

.product-list-item > img {
  max-width: 100%;
  max-height: 80%;
}

.product-name {
  margin: 12px;
}

.product-item {
  padding: 5% 10%;
}

.product-item > img {
  width: 100%;
}

.product-description-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  padding-bottom: 8px;
}

.product-description {
  padding: 10% 0;
}

section > label {
  margin-top: 16px;
}

.product-options {
  margin-top: 16px;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
}

.product-options > label {
  color: #757575;
}

#ram,
#quantity {
  width: 50% !important;
  font-size: 16px;
  padding: 16px 24px 16px;
  background-color: transparent;
  font-weight: 300;
  border: none;
  color: #000000;
  outline: none;
  margin: 0;
}

.horizontal-line {
  border-bottom: 1px solid #808080;
}

.product-description-title {
  margin: 48px 0 16px;
  font-weight: bold;
  font-size: 13px;
}

.product-description-content > ul > li {
  font-weight: 300;
  color: #757575;
}

.btn-add,
.btn-finish {
  width: 100%;
  padding: 20px;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #172c50;
}

.btn-add a,
.btn-finish a {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  display: block;
}

@media screen and (min-width: 768px) {
  #header {
    columns: 4;
  }

  #title {
    grid-column: 1 / 5;
    grid-row: 1;
    margin: 0;
    text-align: center;
  }

  #cart {
    grid-column: 4;
  }

  #nav {
    grid-column: 1 / 5;
    margin: auto;
  }

  #nav-items {
    display: flex;
  }

  #nav-items a {
    width: fit-content;
    padding: 10px;
    background: none;
    text-align: center;
    border: none;
  }

  #nav label,
  #toggler {
    display: none;
  }

  #img-smartphones > img,
  #img-tablets > img,
  #img-pcs > img {
    width: 100%;
    height: 300px;
    object-fit: fill;
    object-position: top;
  }

  .products-page-header > h1 {
    font-size: 1.3em;
  }

  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .product-item {
    display: flex;
    flex-direction: row;
  }

  .product-item > img {
    width: 50%;
    height: 100%;
    object-position: center;
  }

  .product-description-price {
    margin: 16px 0 40px;
    font-size: 16px;
  }

  .product-description-name {
    font: 500 24px/28px "Roboto", "Noto", sans-serif;
  }

  .product-description {
    padding: 2% 0 5% 5%;
  }

  .btn-add,
  .btn-finish {
    width: max-content;
    box-sizing: border-box;
    position: static;
    margin-top: 64px;
    border: 2px solid #000;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 44px;
    text-align: center;
  }

  .btn-finish {
    margin: 32px auto 0;
  }

  .btn-add a,
  .btn-finish a {
    color: #202020 !important;
  }
}
